* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
  outline: none;
  font-family: serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background: #111;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
.btn {
  padding: 0.7rem 3rem;
  background-color: #333;
  color: #eee;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.btn i {
  font-size: 1.8rem;
  padding: 0 0.5rem;
}
.btn:hover {
  background-color: rgb(205, 236, 4);
}
.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1px solid rgb(89, 85, 85);
  color: #eee;
}
.heading span {
  color: yellow;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: rgba(128, 128, 128, 0.321);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}
header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid yellow;
}
header .user h3.name {
  font-size: 2rem;
  color: #eee;
}
header.user .span-p {
  font-size: 1rem;
  margin: 10px;
  padding: 5px;
  color: hsl(60, 11%, 96%);
}
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: gray;
  color: #eee;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  color: rgba(255, 251, 0, 0.903);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: gray;
  color: #eee;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 1000;
  padding: 1rem 1.5rem;
  display: none;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 15rem;
  background-image: url(./img/bg2.jpg);
}

.home h3 {
  font-size: 2.8rem;
  color: rgb(245, 13, 13);
}
.home h1 {
  font-size: 5rem;
  color: aliceblue;
}
.home h1 span {
  color: yellow;
}
#home .home-p {
  font-size: 2rem;
  color: rgba(251, 252, 250, 0.964);
  padding: 1rem 0;
  text-transform: uppercase;
}
/*                    about                      */
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.about .row .info h3 {
  font-size: 2rem;
  color: yellow;
  padding: 1rem 0;
  font-weight: normal;
}
.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}
.about .row .counter {
  flex: 1 1 48rem;
  padding: 2rem 1re4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .counter .box {
  width: 20rem;
  background: #333;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.about .row .counter .box span {
  font-size: 4rem;
  color: yellow;
}
.about .row .counter .box h3 {
  font-size: 2rem;
  color: rgb(253, 253, 239);
}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2px solid rgb(250, 246, 246);
  position: relative;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #eee;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}
.education .box-container .box h3 {
  font-size: 2rem;
  color: #eee;
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}
.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(11, 11, 11);
  background: yellow;
}
.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.portfolio .box-container .box1,.box2 , .box3{
  width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 5px 5px 20px rgb(242, 241, 238);
  border-radius: 15px;
}
.box1{
  background-image: url(./img/net.png);
  background-position: center;
background-repeat: no-repeat;
background-size: contain;
height: 100%

}
.box-btn{
background-color: green;
font-size: 16px;
margin-top: 270px;
border-radius: 5px;
width: 60%;
height: 20px;
margin-left: 60px;
height: 20px;
color: rgb(254, 254, 251);
text-transform: capitalize;
transition: all ease-in-out;
}
.box-btn a:hover{
  color: yellow;
}
.box-btn a{
color: white;
font-size: 20px;


}

.portfolio .box-container .box img {
  height: 17rem;
  width: 30rem;
  border-radius: 20px;
}
.proj-link {
  color: darkorange;
  text-decoration: none;
}
.proj-link:hover {
  color: rgb(141, 213, 33);
}

.proj-details {
  color: rgb(230, 47, 47);
  font-size: 15px;
}
.proj-title {
  color: rgb(242, 246, 249);
  font-size: 16px;
  background: #333;
  background-image: url(img/nt.jpg);
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}
.contact .row form {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
  flex: 1 1 45rem;
}
.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem;
  background: #333;
  color: #eee;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}
.contact .row form .box::placeholder {
  text-transform: capitalize;
}
.contact .row form .message {
  height: 15rem;
  resize: none;
}
.contact .row .content h3.title {
  font-size: 3rem;
  color: #eee;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.contact .row .content .info h3 {
  display: flex;
  font-size: 2rem;
  color: aliceblue;
  align-items: center;
  padding: 1rem 0;
  font-weight: normal;
}
.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: rgb(237, 230, 12);
}
.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}
.credit {
  text-align: center;
  background-color: white;
  padding: 3rem;
  font-size: 2rem;
  color: var(--white);
}

.credit span {
  color: rgb(205, 13, 13);
}

/*responsive*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }
  header .toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
  #menu {
    display: block;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 400x) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .about.row.counter.box {
    width: 100%;
  }
  .education .box-container .box {
    width: 100%;
  }
  .portfolio .box-container .box {
    width: 100%;
  }
  .contact .row form {
    margin: 3rem 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
  outline: none;
  font-family: serif;
}
*::selection {
  background-color: yellow;
  color: gray;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.4rem;
}
html::-webkit-scrollbar-track {
  background: gray;
}
html::-webkit-scrollbar-thumb {
  background: gray;
}
body {
  overflow-x: hidden;
  background: #111;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
.btn {
  padding: 0.7rem 3rem;
  background-color: #333;
  color: #eee;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.btn i {
  font-size: 1.8rem;
  padding: 0 0.5rem;
}
.btn:hover {
  background-color: rgb(205, 236, 4);
}
.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1px solid rgb(89, 85, 85);
  color: #eee;
}
.heading span {
  color: yellow;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: rgba(128, 128, 128, 0.321);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}
header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid yellow;
}
header .user h3.name {
  font-size: 2rem;
  color: #eee;
}
header.user .span-p {
  font-size: 1rem;
  margin: 10px;
  padding: 5px;
  color: hsl(60, 11%, 96%);
}
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: gray;
  color: #eee;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  color: rgba(255, 251, 0, 0.903);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: gray;
  color: #eee;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 1000;
  padding: 1rem 1.5rem;
  display: none;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 15rem;
}
.home h3 {
  font-size: 2.2rem;
  color: #eee;
}
.home h1 {
  font-size: 5rem;
  color: aliceblue;
}
.home h1 span {
  color: yellow;
}
.home p {
  font-size: 2rem;
  color: aliceblue;
  padding: 1rem 0;
}
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.about .row .info h3 {
  font-size: 2rem;
  color: yellow;
  padding: 1rem 0;
  font-weight: normal;
}
.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}
.about .row .counter {
  flex: 1 1 48rem;
  padding: 2rem 1re4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .counter .box {
  width: 20rem;
  background: #333;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.about .row .counter .box span {
  font-size: 4rem;
  color: yellow;
}
.about .row .counter .box h3 {
  font-size: 2rem;
  color: rgb(253, 253, 239);
}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2px solid rgb(250, 246, 246);
  position: relative;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #eee;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}
.education .box-container .box h3 {
  font-size: 2rem;
  color: #eee;
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}
.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(11, 11, 11);
  background: yellow;
}
.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.portfolio .box-container .box {
  width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 5px 5px 20px rgb(242, 241, 238);
  border-radius: 15px;
}
.portfolio .box-container .box img {
  height: 17rem;
  width: 30rem;
  border-radius: 20px;
}
.proj-link {
  color: darkorange;
  text-decoration: none;
}
.proj-link:hover {
  color: rgb(141, 213, 33);
}

.proj-details {
  color: rgb(230, 47, 47);
  font-size: 15px;
}
.proj-title {
  color: rgb(242, 246, 249);
  font-size: 16px;
  background: #333;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}
.contact .row form {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
  flex: 1 1 45rem;
}
.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem;
  background: #333;
  color: #eee;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}
.contact .row form .box::placeholder {
  text-transform: capitalize;
}
.contact .row form .message {
  height: 15rem;
  resize: none;
}
.contact .row .content h3.title {
  font-size: 3rem;
  color: #eee;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.contact .row .content .info h3 {
  display: flex;
  font-size: 2rem;
  color: aliceblue;
  align-items: center;
  padding: 1rem 0;
  font-weight: normal;
}
.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: rgb(237, 230, 12);
}
.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}
.credit {
  text-align: center;
  background-color: white;
  padding: 3rem;
  font-size: 2rem;
  color: var(--white);
}

.credit span {
  color: rgb(205, 13, 13);
}

/*responsive*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }
  header .toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
  #menu {
    display: block;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 400x) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .about.row.counter.box {
    width: 100%;
  }
  .education .box-container .box {
    width: 100%;
  }
  .portfolio .box-container .box {
    width: 100%;
  }
  .contact .row form {
    margin: 3rem 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
  outline: none;
  font-family: serif;
}
*::selection {
  background-color: yellow;
  color: gray;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.4rem;
}
html::-webkit-scrollbar-track {
  background: gray;
}
html::-webkit-scrollbar-thumb {
  background: gray;
}
body {
  overflow-x: hidden;
  background: #111;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
.btn {
  padding: 0.7rem 3rem;
  background-color: #333;
  color: #eee;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.btn i {
  font-size: 1.8rem;
  padding: 0 0.5rem;
}
.btn:hover {
  background-color: rgb(205, 236, 4);
}
.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1px solid rgb(89, 85, 85);
  color: #eee;
}
.heading span {
  color: yellow;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: rgba(128, 128, 128, 0.321);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}
header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid yellow;
}
header .user h3.name {
  font-size: 2rem;
  color: #eee;
}
header.user .span-p {
  font-size: 1rem;
  margin: 10px;
  padding: 5px;
  color: hsl(60, 11%, 96%);
}
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: gray;
  color: #eee;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  color: rgba(255, 251, 0, 0.903);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: gray;
  color: #eee;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 1000;
  padding: 1rem 1.5rem;
  display: none;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 15rem;
}
.home h3 {
  font-size: 2.2rem;
  color: #eee;
}
.home h1 {
  font-size: 5rem;
  color: aliceblue;
}
.home h1 span {
  color: yellow;
}
.home p {
  font-size: 2rem;
  color: aliceblue;
  padding: 1rem 0;
}
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.about .row .info h3 {
  font-size: 2rem;
  color: yellow;
  padding: 1rem 0;
  font-weight: normal;
}
.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}
.about .row .counter {
  flex: 1 1 48rem;
  padding: 2rem 1re4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .counter .box {
  width: 20rem;
  background: #333;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.about .row .counter .box span {
  font-size: 4rem;
  color: yellow;
}
.about .row .counter .box h3 {
  font-size: 2rem;
  color: rgb(253, 253, 239);
}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2px solid rgb(250, 246, 246);
  position: relative;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #eee;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}
.education .box-container .box h3 {
  font-size: 2rem;
  color: #eee;
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}
.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(11, 11, 11);
  background: yellow;
}
.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.portfolio .box-container .box {
  width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 5px 5px 20px rgb(242, 241, 238);
  border-radius: 15px;
}
.portfolio .box-container .box img {
  height: 17rem;
  width: 30rem;
  border-radius: 20px;
}
.proj-link {
  color: darkorange;
  text-decoration: none;
}
.proj-link:hover {
  color: rgb(141, 213, 33);
}

.proj-details {
  color: rgb(230, 47, 47);
  font-size: 15px;
}
.proj-title {
  color: rgb(242, 246, 249);
  font-size: 16px;
  background: #333;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}
.contact .row form {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
  flex: 1 1 45rem;
}
.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem;
  background: #333;
  color: #eee;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}
.contact .row form .box::placeholder {
  text-transform: capitalize;
}
.contact .row form .message {
  height: 15rem;
  resize: none;
}
.contact .row .content h3.title {
  font-size: 3rem;
  color: #eee;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.contact .row .content .info h3 {
  display: flex;
  font-size: 2rem;
  color: aliceblue;
  align-items: center;
  padding: 1rem 0;
  font-weight: normal;
}
.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: rgb(237, 230, 12);
}
.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}
.credit {
  text-align: center;
  background-color: white;
  padding: 3rem;
  font-size: 2rem;
  color: var(--white);
}

.credit span {
  color: rgb(205, 13, 13);
}

/*responsive*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }
  header .toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
  #menu {
    display: block;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 400x) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .about.row.counter.box {
    width: 100%;
  }
  .education .box-container .box {
    width: 100%;
  }
  .portfolio .box-container .box {
    width: 100%;
  }
  .contact .row form {
    margin: 3rem 0;
  }
}
